{% extends 'base.html.twig' %}

{% block title %}Create a new resource{% endblock %}

{% block body %}
    <div>
        <h1>Create a new resource</h1>
        {{ form(form) }}
    </div>
{% endblock %}
